@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-up {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1080px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
