.card {
  background-color: $card-background;
  color: $card-text-color;
  box-shadow: 0px 50px 50px rgba(78, 58, 182, 0.25);
  border-radius: 6px;
  padding: 10px 17px;
  margin-bottom: 20px;
}

.card.is-blue {
  background-color: #5D3DFF !important;
  color: $card-background !important;
  box-shadow: 0px 50px 50px rgba(78, 58, 182, 0.25);
}

.card-body {
  display: flex;
  flex-direction: row;
}

.card-image {
  width: 25%;
  height: auto;
  margin-right: 15px;
}

.card-paragraph {
  width: 75%;
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: medium;
  margin-bottom: 10px;
}

@include for-desktop-up {
  .card {
    padding: 15px 20px;
  }
  .card::last-child {
    margin-right: 0px;
  }
  .card.is-blue {
    transform: translateY(35px);
  }
}
