.container, .container-md, .container-lg {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@include for-desktop-up {
  .container, 
  .container-md, 
  .container-lg {
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    max-width: 992px;
  }
  .container-md {
    max-width: 1200px;
  }
  .container-lg {
    max-width: 1600px;
  }
}
