html {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

*,*::before,*::after {
  box-sizing: inherit;
}

button {
  padding: 0px;
  margin: 0px;
  font: inherit;
  border: none;
  outline: none;
  background-color: none;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0px;
  padding: 0px;
  font-size: inherit;
}

p {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}
