// body
$body-background: #3B2F7B;
$body-text-color: #FAF9FF;

// button
$button-background: #F5F3FF;
$button-text-color: #3109FF;
$button-padding: 5px 12px;
$button-padding-large: 10px 17px;
$button-text-size: 18px;
$button-text-size-large: 32px;

// button:hover
$button-hover-background-color: #8A74FF;
$button-hover-text-color: #ffffff;

// button:focus
$button-focus-background-color: #AB9BFf;
$button-focus-border: 3px solid rgba(123, 97, 255, 0.5);

// card
$card-background: #FAF9FF;
$card-text-color: #624FC0;
$card-padding: 20px;
$card-heading-size: 32px;
$card-text-size: 16px;
