// import separate css files
@import 'reset';
@import 'variables';
@import 'card';
@import '../../node_modules/@nurofsun/onescroll/src/sass/onescroll.sass';

// initialize

body {
  background-color: $body-background;
  color: $body-text-color;
  font-size: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.45;
}
.hero-paragraph {
  font-size: 18px;
  margin: 10px 0px;
}
pre {
  padding: 10px;
  margin: 0px;
  background-color: #2B2162;
  font-size: 18px;
  display: inline-block;
  overflow: hidden;
  border-radius: 4px;
  text-align: left;
}
.navbar-logo {
  display: inline-block;
}
.navbar-logo img {
  width: 150px;
  height: auto;
}

// navbar
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 25px 15px;
}
.navbar.is-transparent {
  background-color: transparent;
}
.navbar-container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navbar.is-fixed {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.button {
  display: inline-block;
  padding: $button-padding;
  overflow: hidden;
  text-align: center;
  background-color: $button-background;
  font-weight: 500;
  color: $button-text-color;
  font-size: $button-text-size;
  border-radius: 4px;
}

.button:hover {
  background-color: $button-hover-background-color;
  color: $button-hover-text-color;
}

.button:focus {
  padding: 2px 9px !important;
  background-color: $button-focus-background-color;
  color: $button-hover-text-color;
  border: $button-focus-border;
}

.button.is-large {
  padding: $button-padding-large;
  font-size: $button-text-size-large;
}

.button.is-large:focus {
  padding: 7px 14px !important;
  background-color: $button-focus-background-color;
  color: $button-hover-text-color;
  border: $button-focus-border;
}

// typography

.title {
  font-size: 72px;
}

// hero
.hero-content {
  padding: 10px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hero-body {
  width: 75%;
}
.hero-image {
  width: 25%;
}

.is-fullheight {
  height: 100%;
}
.is-fullwidth {
  width: 100%;
}
.d-flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.columns {
  display: flex;
  flex-grow: 1;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.column {
  width: 33.33%;
}

.features {
  max-width: 992px;
  margin-right: auto;
  margin-left: auto;
}

.features header {
  margin-bottom: 20px;
}

.features .subtitle {
  font-size: 56px;
  text-align: center;
}

.mountain-illustration {
  background-image: url('/assets/images/mountain-illustration.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

img.card-image {
  width: 100%;
  height: auto;
}

